ANTHROPIC_API_KEY=sk-ant-...
TWILIO_ACCOUNT_SID=AC...
TWILIO_AUTH_TOKEN=...
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_SMS_FROM=+1...
MANAGER_WHATSAPP=whatsapp:+34612345678
GOOGLE_ACCOUNT_ID=accounts/123456789
GOOGLE_LOCATION_ID=locations/987654321
HOTEL_NAME=Hotel Sant Pau BCN
HOTEL_TONE=semi-formal
HOTEL_SIGNATURE=El equipo de Hotel Sant Pau Barcelona
POLL_INTERVAL_MINUTES=10
EMAIL_ADDRESS=tu@gmail.com
EMAIL_APP_PASSWORD=...
